body {
    background-color: #030303;
    color: #F0F0F0;
}

.heading {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.text {
    font-size: 1vw;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.mainNumber {
    font-size: 10vw;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.container {
    height: 40px;
    position: relative;
}

.centeredButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    width: 40%;
}

@media screen and (max-width: 800px) {
    .centeredTable {
        width: 100%;
    }

    .mainNumber {
        font-size: 20vw;
    }

    .heading {
        font-size: 5vw;
    }

    .text {
        font-size: 3vw;
    }
}



tr:nth-child(odd) {
    background-color: #1F1F1F;
}


/* Navigation Stuff */
nav {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav span, nav a {
    color: #CCCCCC;
    font-weight: bold;
    padding: 10px;
}

nav a {
    text-decoration: none;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #262626;
    z-index: 1;
}
  
.dropdown:hover .dropdown-menu {
    display: block;
}
  
.dropdown-menu li {
    display: block;
    margin: 0;
}
  
.dropdown-menu li a {
    padding: 10px;
    display: block;
}

nav a:hover, nav span:hover {
    background-color: #666666;
}